<h1>About Me</h1>

<hr>

<div class="row">
  <div class="col-sm-4">
    <%= image_tag "http://pre09.deviantart.net/fdd3/th/pre/i/2015/014/2/f/sakura_haruno_by_zefimankai-d8dwebf.png", width: 300, alt: "profile image" %>
  </div>
  
  <div class="col-sm-8">
    <p>I like to draw, write, and watch anime. I also like going to the movies with my friends. Some of my favorite foods are Mexican food.</p>
    
    <p>Find me in app/views/pages/about.html.erb</p>
  </div>
</div>
