<div class="app-card-container">
  <div class="card">
    <h1>About Me</h1>

    <hr>
    
    <div class="row">
      <div class="col-sm-4">
        <%= image_tag "http://img11.deviantart.net/434f/i/2015/275/2/7/sakura_haruno_by_byblackrose-d9bmqac.jpg", width: 300, alt: "profile image", class: 'profile-img' %>
      </div>
      
      <div class="col-sm-8">
        <p>I like to draw, write, and watch anime. I also like going to the movies with my friends. Some of my favorite foods are Mexican food.</p>
        
        <p>Find me in app/views/pages/about.html.erb</p>
      </div>
    </div>
  </div>
</div>
